# Use asdf to manage Hugo version
use asdf

# Set local development base URL
export HUGO_BASEURL=http://localhost:1313

# Development server configuration
export SERVER_PORT=4291

# Cloudflare Pages configuration
export CLOUDFLARE_ACCOUNT_ID=046e8f301fab8b218d3f51110cc7034f
export CLOUDFLARE_PAGES_PROJECT=kilna-net
