{{ define "main" }}

{{ $photo := resources.Get "kilna.jpg" }}
{{ with $photo }}
<div class="home-photo">
  <img src="{{ .RelPermalink }}" alt="Kilna" loading="lazy" decoding="async">
  
</div>
{{ end }}

{{ if .Content }}
<div class="intro">
{{ .Content }}
</div>
{{ end }}

<h2>Kilna Contact</h2>
<div class="button-container">
{{ range .Site.Menus.contact }}
<a href="{{ .URL | safeURL }}" class="social-button {{ .Identifier }}" {{ if and (not (hasPrefix .URL "mailto:")) (not (hasPrefix .URL "tel:")) (not (strings.HasSuffix .URL ".vcf")) }}target="_blank" rel="noopener"{{ end }} {{ if strings.HasSuffix .URL ".vcf" }}download{{ end }} {{ with .Params.clipboard }}data-clipboard="{{ . }}"{{ end }} {{ with .Params.style }}style="{{ . | safeCSS }}"{{ end }}>
  {{ $icon := .Identifier }}
  {{ if .Params.icon }}
    {{ $icon = .Params.icon }}
  {{ end }}
  {{ partial "components/icon.html" (dict "icon" $icon) }}
  {{ .Name }}
</a>
{{ end }}
</div>

<h2>Kilna Social</h2>
<div class="button-container">
{{ range .Site.Menus.social }}
<a href="{{ .URL | safeURL }}" class="social-button {{ .Identifier }}" {{ if and (not (hasPrefix .URL "mailto:")) (not (hasPrefix .URL "tel:")) (not (strings.HasSuffix .URL ".vcf")) }}target="_blank" rel="noopener"{{ end }} {{ if strings.HasSuffix .URL ".vcf" }}download{{ end }} {{ with .Params.clipboard }}data-clipboard="{{ . }}"{{ end }} {{ with .Params.style }}style="{{ . | safeCSS }}"{{ end }}>
  {{ $icon := .Identifier }}
  {{ if .Params.icon }}
    {{ $icon = .Params.icon }}
  {{ end }}
  {{ partial "components/icon.html" (dict "icon" $icon) }}
  {{ .Name }}
</a>
{{ end }}
</div>

<h2>Kilna Professional</h2>
<div class="button-container">
{{ range .Site.Menus.professional }}
<a href="{{ .URL | safeURL }}" class="social-button {{ .Identifier }}" {{ if and (not (hasPrefix .URL "mailto:")) (not (hasPrefix .URL "tel:")) (not (strings.HasSuffix .URL ".vcf")) }}target="_blank" rel="noopener"{{ end }} {{ if strings.HasSuffix .URL ".vcf" }}download{{ end }} {{ with .Params.clipboard }}data-clipboard="{{ . }}"{{ end }} {{ with .Params.style }}style="{{ . | safeCSS }}"{{ end }}>
  {{ $icon := .Identifier }}
  {{ if .Params.icon }}
    {{ $icon = .Params.icon }}
  {{ end }}
  {{ partial "components/icon.html" (dict "icon" $icon) }}
  {{ .Name }}
</a>
{{ end }}
</div>

<h2>Kilna Projects</h2>
{{ $projects := where .Site.RegularPages "Section" "projects" }}
{{ range sort $projects "Weight" }}
<div class="project-summary">
  <h3 class="project-title">
    {{ .Title }}
  </h3>
  {{ if .Description }}
  <p class="project-description">{{ .Description }}</p>
  {{ end }}

  {{ .Content }}

  {{ if .Params.links }}
  <div class="project-links">
    {{ range .Params.links }}
    {{ partial "components/button.html" (dict
        "url" .url
        "text" .name
        "target" "_blank"
        "class" "project-link"
    ) }}
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
{{ end }}